{% extends "includes/base.html" %}

{% block content %}
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h5><strong>Observation #{{ data.id }}</strong></h5>
            </div>
            <div class="card-body">
                <p><strong>Date Observed: </strong>{{ data.date_obs }}</p>
                <p><strong>Submitted: </strong>{{ data.ts_entered|date:"g:i:sA D d/m/y" }}</p>
                <p><strong>Description: </strong> {{ data.description }}</p>
                <p><strong>Email: </strong>{{ data.email }} ({{ data.contact }})</p>
                <p><strong>Verified: </strong>{{ data.verified }}</p>
                <p><strong>Verified by: </strong>{{ data.verified_by }}</p>
                <p><strong>Image approved: </strong>{{ data.image_apr }}</p>
                <p><strong>Location: </strong>{{ data.loc_lat }}, {{ data.loc_lng }}</p>
                <div id="detail-map"></div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <img src="{{ MEDIA_URL }}{{ data.image }}" class="img-fluid img-thumbnail img-resize" alt="Image of tree"/>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
        var map;
        function initMap() {
            let loc = {lat: {{ data.loc_lat }}, lng: {{ data.loc_lng }} }
            map = new google.maps.Map(document.getElementById('detail-map'), {
                center: loc,
                zoom: 8
            });
            let marker = new google.maps.Marker({
                position: loc,
                map: map,
                title: 'Observation {{ data.id }}'
            });
        }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWtjXWbdncfXHq3RdeWGSn68eVlmR-wf8&callback=initMap">
    </script>
{% endblock %}