{% extends "includes/base.html" %}
{% block title %}Contact | Snowgum Dieback{% endblock %}
{% block content %}

    <div class="row">
        <div class="col">
           <h3>Contact Us</h3>
            <address>
                <strong>Snowgum Dieback</strong><br>
                Fenner School of Environment and Society<br>
                Building 141<br>
                Linnaeus Way<br>
                Acton ACT 2601<br>
                <a href="#">contactemail@anu.edu.au</a>
            </address>
        </div>
    </div>
{% endblock %}