{% extends "includes/base.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <h3>Report Observation</h3>
            <p>If you have observed an occurrence of Snowgum Dieback, you are able to report it here and added to our research data. </p>
            <p>Information here about how to identify.... Etc etc</p>
        </div>
        <div class="col-6">
            <p>An image is required for verification and for the incidental to be added to the data.</p>
            <form id="reportForm">
                <div class="form-group row mb-0">
                    <label for="form-photo" class="col-4 col-form-label"><strong>Upload image</strong></label>
                    <div class="col-8">
                        <input id="form-photo" name="form-file" type="file" aria-describedby="form-fileHelpBlock" multiple="multiple" required="required" class="form-control-file" accept="image/jpeg, image/png">
                        <span id="form-photoHelpBlock" class="sr-only form-text text-muted">Upload a photo of the occurence</span>
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <label for="form-date" class="col-4 col-form-label">Date</label>
                    <div class="col-8">
                        <input id="form-date" name="form-date" type="text" aria-describedby="form-dateHelpBlock" required="required" class="form-control-plaintext no-photo-disable" placeholder="yyyy-mm-dd">
                        <span id="form-dateHelpBlock" class="sr-only form-text text-muted">Enter the date you observed the occurrence</span>
                    </div>
                </div>
                <div class="form-group row mb-0 mt-3 d-none" id="location-search">
                    <label for="form-location" class="col-4 col-form-label">Location Search</label>
                    <div class="col-8">
                        <input id="form-location" name="form-location" type="text" class="form-control form-control-sm" aria-describedby="form-locationHelpBlock">
                        <span id="form-locationHelpBlock" class="sr-only form-text text-muted">Search for location to get GPS details</span>
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <label for="form-lat" class="col-4 col-form-label">Latitude</label>
                    <div class="col-8">
                        <input id="form-lat" name="form-lat" type="number" disabled required="required" class="form-control-plaintext" placeholder="0.000000"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="form-lon" class="col-4 col-form-label">Longitude</label>
                    <div class="col-8">
                        <input id="form-lon" name="form-lon" type="number" disabled required="required" class="form-control-plaintext" placeholder="0.000000"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="form-description" class="col-4 col-form-label">Description</label>
                    <div class="col-8">
                        <textarea id="form-description" name="form-description" cols="40" rows="2" aria-describedby="form-descriptionHelpBlock" class="form-control no-photo-disable"></textarea>
                        <span id="form-descriptionHelpBlock" class="form-text text-muted">Enter any details about the observance</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="form-email" class="col-4 col-form-label">Email</label>
                    <div class="col-8">
                        <input id="form-email" placeholder="name@email.com" name="form-email" type="email" class="form-control no-photo-disable" aria-describedby="form-emailHelpBlock">
                        <span id="form-emailHelpBlock" class="form-text text-muted">If you would like to be contacted please provide your email address</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-4 col-8">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input name="form-agree" id="form-agree" type="checkbox" class="custom-control-input no-photo-disable" value="true" checked="checked">
                            <label for="form-agree" class="custom-control-label">I agree to be contacted about this</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-4 col-8">
                        <button name="submit" type="submit" id='form-submit' class="btn btn-primary no-photo-disable">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static "js/jquery-ui.min.js" %}" type="application/javascript"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWtjXWbdncfXHq3RdeWGSn68eVlmR-wf8&libraries=places"></script>
    <script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
    <script src="{% static "js/report.js" %}" type="application/javascript"></script>
{% endblock %}